<a href="https://colab.research.google.com/github/Bongeka28/Basic-Frame/blob/main/PythonFirstActivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("Enter your name: ")
print("Hello",name,"! Welcome")

Enter your name: Bongeka
Hello Bongeka ! Welcom

In [3]:
#SIngle variable
s ="Bob"
print(s)

#Multiple variable
s="Alice"
age=25
city = "Dan"
print(s,age,city)

Bob
Alice 25 Dan

In [4]:
firstname = input("Enter your firstname")
lastname= input("Enter your lastname")
age = input("Enter your age")
loc =input("Enter your location")
print("Firstname: ",firstname,"\nLastname: ",lastname,"\nAge: ",age,"Location :",loc)

Enter your firstnameBongeka
Enter your lastnameMdluli
Enter your age25
Enter your locationJoburg
Firstname:  Bongeka
Lastname:  Mdluli
Age:  25 Location : Joburg

In [10]:
#Taking two inputs at a time
x,y = input("Enter two values: ").split()
print("Number of males in IDA117v : ",x)
print("Number of females in IDA117V : ",y)

Enter two values: 12 23
Number of males in IDA117v :  12
Number of females in IDA117V :  23

In [12]:
#Taking input as int
#Typecasting to int
n = int(input("How many roses ? "))
print(n)

How many roses ? 7
7

In [14]:
a = "Hello world"
b=2
c=11.22
d=("Geeks","for","Geeks")
e=["Geeks","for","Geeks"]
f={"Geeks": 1,"for": 2,"Geeks": 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [18]:
age = int(input("Enter your age: " ))
if age >=18:
  print("Eligible")
else:
    print("Not Eligible")

Enter your age: 22
Eligible

In [21]:
username= input("Enter username: ")
password= input("Enter password: ")

if username=="admin":
    if password == "1234":
      print("Login successful")
    else:
      print("Incorrect password")
else:
  print("Incorrect Username")

Enter username: ee
Enter password: 1234
Incorrect Username

In [23]:
password = ""
while password != "python123":
  password= input("Enter the password: ")
print("Access granted")

Enter the password: 123
Enter the password: ee
Enter the password: python123
Access granted

In [24]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [26]:
import pandas as pd

In [27]:
import pandas as pd
import numpy as np

ser = pd.Series()
print("Pandas Series: ",ser)

data = np.array(['g','e','e','k','s'])

ser = pd.Series(data)
print("Pandas series:\n",ser)

Pandas Series:  Series([], dtype: object)
Pandas series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [28]:
import pandas as pd

df = pd.DataFrame()
print(df)

lst = ["Geeks","For","Geeks","is","portal","for","Geeks"]

df= pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [30]:
import pandas as pd
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data, columns = ['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
import pandas as pd

dict = {'name' : ["apama","pamka","sudhir","Geeku"],
        'degree': ["MBA","BCA","M.TECH","MBA"],
        'score': [90,40,80,98]}

df = pd.DataFrame(dict)
print(df)

     name  degree  score
0   apama     MBA     90
1   pamka     BCA     40
2  sudhir  M.TECH     80
3   Geeku     MBA     98

In [32]:
import pandas as pd

data = {'Name' : ["John","Alice","Bob","Eve","Charlie"],
        'Age': [25,30,22,35,18],
        'Gender': ["Male","Female","Male","Female","Male"],
        'Salary': [50000,55000,40000,70000,40000]}

df = pd.DataFrame(data)
print(df.index) #Accessing the index

RangeIndex(start=0, stop=5, step=1)

In [33]:
#Set name column as index

df_with_index = df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   18    Male   40000

In [34]:
#Reset the indexback to the default integer index

df_reset = df.reset_index()
print(df_reset)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   18    Male   40000

In [35]:
row = df_with_index.loc['Alice']
print(row)

Age           30
Gender    Female
Salary     55000
Name: Alice, dtype: object